@media print {
	.non_print{display:none;}
}
#spell_list{float:left;}
#selected_spell{float:left;}
.spell{width:300px;float:left;margin-right:30px}
.spell_last{margin-right:0}
.spells_to_print{width:960px;clear:both}