html{
  height: auto!important;
}

body {
  margin: 0;
}
/*reset button*/
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button:focus {
  outline: none;
}

*::selection {
  background-color: transparent;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeOutDelayAnimation {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    display: flex;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    
  }
}

@keyframes fadeOutAnimationWrongSquare {
  from {
    opacity: 1;
    display: block;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

.fade-in {
  animation-duration: 2s;
  animation-name: fadeInAnimation;
  animation-fill-mode: forwards;
}

.fade-out {
  animation-duration: 2s;
  animation-name: fadeOutAnimation;
  animation-fill-mode: forwards;
}

.fade-out-delay {
  animation-duration: 2s;
  animation-name: fadeOutDelayAnimation;
  animation-fill-mode: forwards;
}


/*************/
/*Container geral BG*/
/*************/
.container-geral {
  background-image:url(img/bg.png);
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/*************/
/*MENU START*/
/*************/
.bg-transparency {
  position: absolute;
  width: 1024px;
  height: 768px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.bg-transparency-clearer {
  position: absolute;
  width: 1024px;
  height: 768px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

/*SPLASH SCREEN*/
.container-splash-screen {
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
}
.container-splash-screen-logo {
  background-image:url(img/atlas.png);
  width: 1000px;
  height: 128px;
  margin: 62px 0 0 11px;
}

/*TUTORIAIS*/
#container-tutorial{
  display: none;
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

.container-tutorial {
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  background-image: url(img/intro.png);
}

/*End game*/
.container-end {
  display: none;
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  z-index: 3500;
}
/*************/
/*MENU END*/
/*************/


/*************/
/*BUTTONS START*/
/*************/
.menu-button {
  width: 250px;
  height: 128px;
  background-image: url(img/atlas.png);
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  right: 0;
}
.menu-button:disabled{
  cursor: auto;
  opacity: .6;
}
.menu-button-comecar {
  background-position: 0px -128px;
}
.menu-button-comecar:active, .menu-button-comecar.menu-button-pressed { 
  background-position: -256px -128px;
}
.menu-button-grades {
  background-position: -1024px -256px;
  right: auto;
  left: 176px;
}
.menu-button-grades:active, .menu-button-grades.menu-button-pressed {
  background-position: -1280px -256px;
}
.menu-button-padroes {
  background-position: -1024px -384px;
  right: 180px;
}
.menu-button-padroes:active, .menu-button-padroes.menu-button-pressed {
  background-position: -1280px -384px;
}
.menu-button-menu {
  bottom: 23px;
  right: auto;
  left: 92px;
  background-position: 0px -512px;
}
.menu-button-menu:active, .menu-button-menu.menu-button-pressed { 
  background-position: -256px -512px;
}
.menu-button-limpar {
  bottom: 23px;
  right: auto;
  left: 383px;
  background-position: 0px -640px;
}
.menu-button-limpar:active, .menu-button-limpar.menu-button-pressed { 
  background-position: -256px -640px;
}
.menu-button-imprimir {
  bottom: 23px;
  right: 97px;
  background-position: 0px -768px;
}
.menu-button-imprimir:active, .menu-button-imprimir.menu-button-pressed { 
  background-position: -256px -768px;
}
.menu-button-config {
  display: none;
  width: 72px;
  height: 72px;
  bottom: auto;
  right: auto;
  top: 11px;
  left: 10px;
  background-position: -797px -159px;
  z-index: 1200;
}
.menu-button-config:active, .menu-button-config.menu-button-pressed { 
  background-position: -925px -159px;
}
.menu-button-print-exit {
  display: none;
  width: 72px;
  height: 72px;
  bottom: auto;
  right: 24px;
  top: 245px;
  background-position: -669px -414px;
}
.menu-button-print-exit:active, .menu-button-print-exit.menu-button-pressed { 
  /*background-position: -925px -159px;*/
}
.menu-button-android {
  width: 88px;
  height: 88px;
  bottom: 115px;
  right: auto;
  left: 302px;
  background-position: -787px -277px;
}
.menu-button-android:active, .menu-button-android.menu-button-pressed { 
  background-position: -915px -277px;
}
.menu-button-win {
  width: 88px;
  height: 88px;
  bottom: 115px;
  right: auto;
  left: 469px;
  background-position: -787px -405px;
}
.menu-button-win:active, .menu-button-win.menu-button-pressed { 
  background-position: -915px -405px;
}
.menu-button-ios {
  width: 88px;
  height: 88px;
  bottom: 115px;
  right: 301px;
  background-position: -787px -533px;
}
.menu-button-ios:active, .menu-button-ios.menu-button-pressed { 
  background-position: -915px -533px;
}

.game-buttons-container{
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 3400;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  box-sizing: border-box;
}
.game-button{
  width: 130px;
  height: 70px;
  background-image: url(img/atlas.png);
  background-position: -640px -31px;
  cursor: pointer;
  position: relative;
}
.game-button:active{
  background-position: -640px -159px;
}

.game-button:disabled{
  cursor: default;
  opacity: .7;
}

.container-grids{
  display: block;
  margin-top: 216px;
  margin-left: 64px;
}
.container-patterns{
  display: none;
  margin-top: 95px;
  margin-left: 64px;
}


.button-modos{
  width: 290px;
  height: 230px;
  cursor: pointer;
  margin-right: 11px;
  margin-bottom: 13px;
  background-image: url(img/modos.png);
}
.button-modo-triangulo{
  background-position: -48px -8px;
}
.button-modo-quadrado{
  background-position: -432px -8px;
}
.button-modo-hexagono{
  background-position: -818px -8px;
}
.button-modo-a{
  background-position: -48px -264px;
}
.button-modo-b{
  background-position: -432px -264px;
}
.button-modo-c{
  background-position: -818px -264px;
}
.button-modo-d{
  background-position: -48px -521px;
}
.button-modo-e{
  background-position: -432px -521px;
}
.button-modo-f{
  background-position: -818px -521px;
}
/*************/
/*BUTTONS END*/
/*************/


/*************/
/*CONFIG AND PRINT START*/
/*************/
.container-config{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  z-index: 1100;
}
.container-config.container-config-show{
  display: block;
}

.container-print{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  z-index: 1100;
}
.container-print.print-opened{
  display: block;
}
.container-print.print-android .menu-button,
.container-print.print-win .menu-button,
.container-print.print-ios .menu-button{
  display: none;
}
.container-print.print-android .menu-button.menu-button-print-exit,
.container-print.print-win .menu-button.menu-button-print-exit,
.container-print.print-ios .menu-button.menu-button-print-exit{
  display: block;
}

.print-text{
  width: 1024px;
  height: 256px;
  margin-top: 256px;
  background-image: url(img/print.png);
  background-position: 0px 0px;
}
.container-print.print-android .print-text{
  background-position: 0px -256px;
}
.container-print.print-win .print-text{
  background-position: 0px -512px;
}
.container-print.print-ios .print-text{
  background-position: 0px -768px;
}
/*************/
/*CONFIG AND PRINT END*/
/*************/


/*************/
/*JOGO START*/
/*************/
.container-jogo {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  z-index: 50;
  overflow: hidden;
}

.wheel-container{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 222px;
  height: 222px;
  background-image: url(img/atlas.png);
  background-position: -529px -146px;
  z-index: 999;
}

.triangles-container{
  position: absolute;
  top: 1px;
  left: -55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1134px;
}
.triangles-container.triangles-container-b{
  top: 2px;
  left: -54px;
}
.triangle-image{
  width: 81px;
  height: 70px;
  background-image: url(img/pieces.png);
  background-position: -26px -33px;
  text-align: center;
  line-height: 40px;
  background-size: 1062px;
  z-index: 90;
}

.triangle-area.triangle--selected{}

.triangle-upsidedown{
  transform: rotate(0.5turn);
}
.triangle-image.triangle--color0{
  background-position: -291px -33px;
  z-index: 10;
}
.triangle-image.triangle--color1{
  background-position: -424px -33px;
  z-index: 10;
}
.triangle-image.triangle--color2{
  background-position: -557px -33px;
  z-index: 10;
}
.triangle-image.triangle--color3{
  background-position: -690px -33px;
  z-index: 10;
}
.triangle-image.triangle--color4{
  background-position: -822px -33px;
  z-index: 10;
}
.triangle-image.triangle--color5{
  background-position: -955px -33px;
  z-index: 10;
}

.triangle-image.triangle--color6{
  background-position: -291px -166px;
  z-index: 10;
}
.triangle-image.triangle--color7{
  background-position: -424px -166px;
  z-index: 10;
}
.triangle-image.triangle--color8{
  background-position: -557px -166px;
  z-index: 10;
}
.triangle-image.triangle--color9{
  background-position: -690px -166px;
  z-index: 10;
}
.triangle-image.triangle--color10{
  background-position: -822px -166px;
  z-index: 10;
}
.triangle-image.triangle--color11{
  background-position: -955px -166px;
  z-index: 10;
}
#triangle-img-0_0,
#triangle-img-0_2,
#triangle-img-0_4,
#triangle-img-0_6,
#triangle-img-0_8,
#triangle-img-0_10,
#triangle-img-b-0_1,
#triangle-img-b-0_3,
#triangle-img-b-0_5,
#triangle-img-b-0_7,
#triangle-img-b-0_9{
  margin-left: 40px;
}
.triangle-image.triangle--selected{
  background-position: -159px -33px;
  z-index: 95;
}
.triangle-image-map{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 350;
}





.squares-container{
  position: absolute;
  top: 1px;
  left: -28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1150px;
}
.squares-container.squares-container-b{
  top: 1px;
  left: -28px;
}
.square-image{
  width: 72px;
  height: 72px;
  /* margin-right: 72px; */
  background-image: url(img/pieces.png);
  background-position: -32px -302px;
  text-align: center;
  line-height: 40px;
  background-size: 1080px;
  z-index: 90;
  cursor: pointer;
  position: relative;
}
/*
.squares-container.squares-container-b .square-image{
  z-index: 93;
}
*/

.square-image.square--color0,
.square-image.square--color0 .square-image-internal{
  background-position: -302px -302px;
  z-index: 10;
}
.square-image.square--color1,
.square-image.square--color1 .square-image-internal{
  background-position: -437px -302px;
  z-index: 10;
}
.square-image.square--color2,
.square-image.square--color2 .square-image-internal{
  background-position: -572px -302px;
  z-index: 10;
}
.square-image.square--color3,
.square-image.square--color3 .square-image-internal{
  background-position: -706px -302px;
  z-index: 10;
}
.square-image.square--color4,
.square-image.square--color4 .square-image-internal{
  background-position: -841px -302px;
  z-index: 10;
}
.square-image.square--color5,
.square-image.square--color5 .square-image-internal{
  background-position: -976px -302px;
  z-index: 10;
}

.square-image.square--color6,
.square-image.square--color6 .square-image-internal{
  background-position: -302px -438px;
  z-index: 10;
}
.square-image.square--color7,
.square-image.square--color7 .square-image-internal{
  background-position: -437px -438px;
  z-index: 10;
}
.square-image.square--color8,
.square-image.square--color8 .square-image-internal{
  background-position: -572px -438px;
  z-index: 10;
}
.square-image.square--color9,
.square-image.square--color9 .square-image-internal{
  background-position: -706px -438px;
  z-index: 10;
}
.square-image.square--color10,
.square-image.square--color10 .square-image-internal{
  background-position: -841px -438px;
  z-index: 10;
}
.square-image.square--color11,
.square-image.square--color11 .square-image-internal{
  background-position: -976px -438px;
  z-index: 10;
}
.square-image.square--selected{
  background-position: -167px -302px;
  z-index: 95;
}

.square-image-internal{
  display: none;
}

.square-image.square--color0 .square-image-internal,
.square-image.square--color1 .square-image-internal,
.square-image.square--color2 .square-image-internal,
.square-image.square--color3 .square-image-internal,
.square-image.square--color4 .square-image-internal,
.square-image.square--color5 .square-image-internal,
.square-image.square--color6 .square-image-internal,
.square-image.square--color7 .square-image-internal,
.square-image.square--color8 .square-image-internal,
.square-image.square--color9 .square-image-internal,
.square-image.square--color10 .square-image-internal,
.square-image.square--color11 .square-image-internal{
  display: block;
  position: absolute;
  top:-1px;
  left: 0px;
  width: 74px;
  height: 72px;
  margin-right: 70px;
  background-image: url(img/pieces.png);
  text-align: center;
  line-height: 40px;
  background-size: 1080px;
  z-index: 80;
  cursor: pointer;
  position: relative;
}
.square-image.square--selected  .square-image-internal{
  display: none;
}
/*
#square-img-1_0,
#square-img-1_1,
#square-img-1_2,
#square-img-1_3,
#square-img-1_4,
#square-img-1_5,
#square-img-1_6,
#square-img-1_7,
#square-img-1_8,
#square-img-1_9,
#square-img-1_10{
  margin-left: 72px;
}
*/



.hexes-container{
  position: absolute;
  top: 0px;
  left: -49px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1180px;
}
.hexes-container.hexes-container-b{
  top: -42px;
  left: 25px;
  width: 1134px;
}
.hex-image{
  position: relative;
  width: 98px;
  height: 86px;
  background-image: url(img/pieces.png);
  background-position: -15px -548px;
  text-align: center;
  line-height: 40px;
  background-size: 1050px;
  z-index: 90;
  margin-right: 49px;
}

.hexagon-area.hex--selected{}


.hex-image.hex--color0,
.hex-image.hex--color0 .hex-image-internal{
  background-position: -277px -548px;
  z-index: 10;
}
.hex-image.hex--color1,
.hex-image.hex--color1 .hex-image-internal{
  background-position: -409px -548px;
  z-index: 10;
}
.hex-image.hex--color2,
.hex-image.hex--color2 .hex-image-internal{
  background-position: -541px -548px;
  z-index: 10;
}
.hex-image.hex--color3,
.hex-image.hex--color3 .hex-image-internal{
  background-position: -672px -548px;
  z-index: 10;
}
.hex-image.hex--color4,
.hex-image.hex--color4 .hex-image-internal{
  background-position: -803px -548px;
  z-index: 10;
}
.hex-image.hex--color5,
.hex-image.hex--color5 .hex-image-internal{
  background-position: -934px -548px;
  z-index: 10;
}

.hex-image.hex--color6,
.hex-image.hex--color6 .hex-image-internal{
  background-position: -277px -679px;
  z-index: 10;
}
.hex-image.hex--color7,
.hex-image.hex--color7 .hex-image-internal{
  background-position: -409px -679px;
  z-index: 10;
}
.hex-image.hex--color8,
.hex-image.hex--color8 .hex-image-internal{
  background-position: -541px -679px;
  z-index: 10;
}
.hex-image.hex--color9,
.hex-image.hex--color9 .hex-image-internal{
  background-position: -672px -679px;
  z-index: 10;
}
.hex-image.hex--color10,
.hex-image.hex--color10 .hex-image-internal{
  background-position: -803px -679px;
  z-index: 10;
}
.hex-image.hex--color11,
.hex-image.hex--color11 .hex-image-internal{
  background-position: -934px -679px;
  z-index: 10;
}
.hex-image.hex--selected{
  background-position: -147px -548px;
  z-index: 95;
}
.hex-image-internal{
  display: none;
}
.hex-image.hex--color0 .hex-image-internal,
.hex-image.hex--color1 .hex-image-internal,
.hex-image.hex--color2 .hex-image-internal,
.hex-image.hex--color3 .hex-image-internal,
.hex-image.hex--color4 .hex-image-internal,
.hex-image.hex--color5 .hex-image-internal,
.hex-image.hex--color6 .hex-image-internal,
.hex-image.hex--color7 .hex-image-internal,
.hex-image.hex--color8 .hex-image-internal,
.hex-image.hex--color9 .hex-image-internal,
.hex-image.hex--color10 .hex-image-internal,
.hex-image.hex--color11 .hex-image-internal{
  display: block;
  position: absolute;
  top:-1px;
  left: 0px;
  width: 98px;
  height: 88px;
  background-image: url(img/pieces.png);
  text-align: center;
  line-height: 40px;
  background-size: 1050px;
  z-index: 80;
  margin-right: 49px;
}
.hex-image.hex--selected .hex-image-internal{
  display: none;
}

.hex-image-map{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 350;
}

/*************/
/*JOGO END*/
/*************/