body {
  margin: 0;
}
/*reset button*/
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button:focus {
  outline: none;
}

*::selection {
  background-color: transparent;
}

@font-face {
  font-family: "VAG Rounded Bold";
  src: url(vag-rounded-bold.ttf);
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container-geral {
  background-image:url(img/bg.png);
  width: 1024px;
  height: 768px;
  position: relative;
  overflow: hidden;
}

/*************/
/*MENU*/
/*************/
.container-splash-screen {
  position: absolute;
  background-image:url(img/bg.png);
  background-color: #fff;
  width: 1024px;
  height: 768px;
  z-index: 500;
  overflow: hidden;
}
.container-splash-screen-logo {
  background-image:url(img/atlas.png);
  width: 640px;
  height: 256px;
  margin: 38px 0 0 192px;
  overflow: hidden;
}
.container-intro {
  display: none;
  position: absolute;

  width: 1024px;
  height: 768px;
  overflow: hidden;
}
#container-intro-1 {
  background-image: url(img/intro1.png);
}
#container-intro-2 {
  background-image: url(img/intro2.png);
}
.container-menu {
  display: none;
  position: absolute;
  background-image: url(img/bg.png);
  width: 1024px;
  height: 768px;
  z-index: 400;
  overflow: hidden;
}
.container-menu-transparency {
  position: absolute;
  width: 1024px;
  height: 768px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.menu-title {
  width: 100%;
  padding: 0;
  margin: 0 0 13px;
  font-family: "VAG Rounded Bold";
  text-align: center;
  font-size: 32px;
  color: #368fb2;
}

.menu-button {
  width: 256px;
  height: 128px;
  font-family: "VAG Rounded Bold";
  text-align: center;
  font-size: 36px;
  background-image: url(img/atlas.png);
  cursor: pointer;
}
.menu-button-comecar {
  background-position: 0px -256px;
  position: absolute;
  top: 616px;
  left: 716px;
}
.menu-button-comecar:active, .menu-button-comecar.menu-button-pressed { 
  background-position: 0px -384px;
}
.menu-button-avancar {
  background-position: -256px -256px;
  position: absolute;
  top: 616px;
  left: 716px;
}
.menu-button-avancar:disabled {
  opacity: .6;
}
.menu-button-avancar:active, .menu-button-avancar.menu-button-pressed {
  background-position: -256px -384px;
}
.menu-button-voltar {
  background-position: -512px -256px;
  position: absolute;
  top: 616px;
  left: 716px;
}
.menu-button-voltar:active, .menu-button-voltar.menu-button-pressed { 
  background-position: -512px -384px;
}
.menu-button-inicio {
  background-position: -30px -540px;
  margin: 66px 0 0 64px;
}
.menu-button-inicio:active, .menu-button-inicio.menu-button-pressed { 
  background-position: -30px -668px;
}
.menu-button-fase {
  background-position: -286px -540px;
  font-size: 30px;
  width: 163px;
  height: 217px;
  margin-left: 25px;
}
.menu-button-fase:active, .menu-button-fase.menu-button-pressed { 
  background-position: -286px -668px;
}
.menu-button-fase:disabled {
  cursor: auto;
  opacity: .3;
}
#menu-button-fase-1-0 {
  background-position: -815px -20px;
  margin-left: 44px;
  margin-top: 131px;
}
#menu-button-fase-1-1 {
  background-position: -47px -532px;
  margin-top: 80px;
}
#menu-button-fase-1-2 {
  background-position: -303px -532px;
  margin-top: 80px;
}
#menu-button-fase-1-3 {
  background-position: -559px -532px;
  margin-top: 80px;
}
#menu-button-fase-1-4 {
  background-position: -815px -532px;
  margin-top: 80px;
}

#menu-button-fase-2-0{
  background-position: -815px -276px;
  margin-top: 48px;
  margin-left: 44px;
}
#menu-button-fase-2-1{
  background-position: -47px -788px;
  margin-top: 48px;
}
#menu-button-fase-2-2{
  background-position: -303px -788px;
  margin-top: 48px;
}
#menu-button-fase-2-3{
  background-position: -559px -788px;
  margin-top: 70px;
}
#menu-button-fase-2-4{
  background-position: -815px -788px;
  margin-top: 48px;
}

/*************/
/*MENU END*/
/*************/

.tutorial{
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/tutorial.png);
  width: 1024px;
  height: 768px;
  font-size: 82px;
  z-index: 600;
  overflow: hidden;
}


/*************/
/*MAIN GAME START*/
/*************/
.container-mecanica-dragdrop {
  display: none;
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 50;
  overflow: hidden;
}

.container-mecanica-dragdrop.all-correct {
  animation-duration: 2s;
  animation-name: fadeOutAnimation;
  animation-fill-mode: forwards;
}

.container-mecanica-dragdrop.next {
  animation-duration: 2s;
  animation-name: fadeInAnimation;
  animation-fill-mode: forwards;
}

.container-mecanica-dragdrop-1-0{}
.container-mecanica-dragdrop-1-1{}
.container-mecanica-dragdrop-1-2{}
.container-mecanica-dragdrop-1-3{}
.container-mecanica-dragdrop-1-4{}
.container-mecanica-dragdrop-2-0{}
.container-mecanica-dragdrop-2-1{}
.container-mecanica-dragdrop-2-2{}
.container-mecanica-dragdrop-2-3{}
.container-mecanica-dragdrop-2-4{}

.container-letters{ 
  width: 1024px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  z-index: 300;
  position: absolute;
  left: 0;
  bottom: 0;
}

#lives-counter{
  width: 116px;
  height: 100%;
}

.lives-heart{
  width: 66px;
  height: 62px;
  margin: 0 0 15px 25px;
  background-image: url(img/atlas.png);
  background-position: -671px -161px;
}

/*empty hearts*/
/*heart1*/
.lives-2 #lives-heart-1,
.lives-1 #lives-heart-1,
.lives-0 #lives-heart-1,
/*heart2*/
.lives-1 #lives-heart-2,
.lives-0 #lives-heart-2,
/*heart 3*/
.lives-0 #lives-heart-3{
  background-position: -671px -33px;
}

/*************/
/*Draggable letter START*/
.answers-container{
  display: flex;
  flex-wrap: wrap;
  width: 908px;
}

.draggable-letter {
  width: 256px;
  height: 88px;
  font-family: "VAG Rounded Bold";
  text-align: center;
  font-size: 36px;
  
  /*line-height: 88px;*/

  color: #368fb2;
  cursor: move;
}
.draggable-letter.dragging {
  z-index: 400;
}
/*answer 1*/
#draggable-0{
  margin-left: 60px;
}
/*answers 1-6*/
#draggable-0,
#draggable-1,
#draggable-2,
#draggable-3,
#draggable-4,
#draggable-5 {
  margin-left: 17px;
}
.draggable-letter.correct,
.draggable-letter.wrong {
  z-index: 200;
}

/*4*/
.letters-total-4 {

}
.letters-total-4 #draggable-0 {
  margin-top: 20px;
  margin-left: 125px;
}
.letters-total-4 #draggable-1 {
  margin-top: 20px;
  margin-left: 50px;
}
.letters-total-4 #draggable-2 {
  margin-left: 265px;
}
.letters-total-4 #draggable-3 {
  margin-left: 50px;
}

/*5*/
.letters-total-5 {}
.letters-total-5 #draggable-0 {
  margin-top: 20px;
  margin-left: 45px;
}
.letters-total-5 #draggable-1 {
  margin-top: 20px;
  margin-left: 40px;
}
.letters-total-5 #draggable-2 {
  margin-top: 20px;
  margin-left: 40px;
}

.letters-total-5 #draggable-3 {
  margin-left: 195px;
}
.letters-total-5 #draggable-4 {
  margin-left: 50px;
}

/*6*/
.letters-total-6 {}
.letters-total-6 #draggable-0 {
  margin-top: 20px;
  margin-left: 45px;
}
.letters-total-6 #draggable-1 {
  margin-top: 20px;
  margin-left: 40px;
}
.letters-total-6 #draggable-2 {
  margin-top: 20px;
  margin-left: 40px;
}

.letters-total-6 #draggable-3 {
  margin-left: 45px;
}
.letters-total-6 #draggable-4 {
  margin-left: 40px;
}
.letters-total-6 #draggable-5 {
  margin-left: 40px;
}
/*Draggable letter END*/
/*************/

/*************/
/*letter-bg START*/
.letter-bg {
  position: absolute;
  
  width: 256px;
  height: 88px;
  background-repeat: no-repeat;
}
.letter-bg-0{background-position: 0px -148px;}
.letter-bg-1{background-position: -256px -148px;}
.letter-bg-2{background-position: -512px -148px;}
.letter-bg-3{background-position: 0px -404px;}
.letter-bg-4{background-position: -256px -404px;}
.letter-bg-5{background-position: -512px -404px;}
.container-mecanica-dragdrop-1-0 .letter-bg-0{background-position: 0px -148px;}
.container-mecanica-dragdrop-1-0 .letter-bg-1{background-position: -256px -148px;}
.container-mecanica-dragdrop-1-0 .letter-bg-2{background-position: 0px -404px;}
.container-mecanica-dragdrop-1-0 .letter-bg-3{background-position: -256px -404px;}

.container-mecanica-dragdrop-1-0 .letter-bg{background-image: url(img/1.png)}
.container-mecanica-dragdrop-1-1 .letter-bg{background-image: url(img/2.png)}
.container-mecanica-dragdrop-1-2 .letter-bg{background-image: url(img/3.png)}
.container-mecanica-dragdrop-1-3 .letter-bg{background-image: url(img/4.png)}
.container-mecanica-dragdrop-1-4 .letter-bg{background-image: url(img/5.png)}
.container-mecanica-dragdrop-2-0 .letter-bg{background-image: url(img/6.png)}
.container-mecanica-dragdrop-2-1 .letter-bg{background-image: url(img/7.png)}
.container-mecanica-dragdrop-2-2 .letter-bg{background-image: url(img/8.png)}
.container-mecanica-dragdrop-2-3 .letter-bg{background-image: url(img/9.png)}
.container-mecanica-dragdrop-2-4 .letter-bg{background-image: url(img/10.png)}

.dragging .letter-bg {
  /*top: -128px;*/
  /*
  background-repeat: no-repeat;
  background-position: -142px -18px;
  z-index: 300;
  line-height: 175px;
  */
}
.correct .letter-bg,
.wrong .letter-bg {
  animation-duration: 2s;
  animation-name: fadeInAnimation;
  animation-fill-mode: forwards;
}
/*letter-bg END*/
/*************/

/*************/
/*droppable START*/
.drops-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 100;
}
.drops-wrapper.no-touch{
  overflow-y: hidden;
}
.drops-wrapper-internal{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
}
.barra-menu{
  width: 1024px;
  height: 350px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: url(img/barra-menu.png);
  z-index: 500;
}

.container-drops{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  
  background-repeat: no-repeat;
  background-size: 1024px;
  display: flex;
  flex-wrap: wrap;
  z-index: 400;
  overflow-x: hidden;
}
.container-mecanica-dragdrop-1-0 .container-drops{background-image: url(img/level1.png);height:1240px;}
.container-mecanica-dragdrop-1-1 .container-drops{background-image: url(img/level2.png);height:1160px;}
.container-mecanica-dragdrop-1-2 .container-drops{background-image: url(img/level3.png);height:1400px;}
.container-mecanica-dragdrop-1-3 .container-drops{background-image: url(img/level4.png);height:1480px;}
.container-mecanica-dragdrop-1-4 .container-drops{background-image: url(img/level5.png);height:1320px;}
.container-mecanica-dragdrop-2-0 .container-drops{background-image: url(img/level6.png);height:1240px;}
.container-mecanica-dragdrop-2-1 .container-drops{background-image: url(img/level7.png);height:1160px;}
.container-mecanica-dragdrop-2-2 .container-drops{background-image: url(img/level8.png);height:1400px;}
.container-mecanica-dragdrop-2-3 .container-drops{background-image: url(img/level9.png);height:1480px;}
.container-mecanica-dragdrop-2-4 .container-drops{background-image: url(img/level10.png);height:1320px;}

.drops-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1370px;
  background-repeat: no-repeat;
  background-size: 1024px;
  z-index: 100;
}
.container-mecanica-dragdrop-1-0 .drops-bg{background-image: url(img/cozinha.png);}
.container-mecanica-dragdrop-1-1 .drops-bg{background-image: url(img/banheiro.png);}
.container-mecanica-dragdrop-1-2 .drops-bg{background-image: url(img/jardim.png);}
.container-mecanica-dragdrop-1-3 .drops-bg{background-image: url(img/horta.png);}
.container-mecanica-dragdrop-1-4 .drops-bg{background-image: url(img/aula.png);}
.container-mecanica-dragdrop-2-0 .drops-bg{background-image: url(img/cozinha.png);}
.container-mecanica-dragdrop-2-1 .drops-bg{background-image: url(img/banheiro.png);}
.container-mecanica-dragdrop-2-2 .drops-bg{background-image: url(img/jardim.png);}
.container-mecanica-dragdrop-2-3 .drops-bg{background-image: url(img/horta.png);}
.container-mecanica-dragdrop-2-4 .drops-bg{background-image: url(img/aula.png);}

.drops-line {
  width: 100%;
  display: flex;
}
.phrase-before {
  width: 300px;
}
/*phrase middle and answer*/
.droppable-letter {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 60px;
  margin: 10px 6px;
  background-repeat: no-repeat;
  opacity: 0;
}
.droppable-letter-0 {background-position: 0px -33px;opacity: 1;}
.droppable-letter-1 {background-position: -256px -33px;opacity: 1;}
.droppable-letter-2 {background-position: -512px -33px;opacity: 1;}
.droppable-letter-3 {background-position: 0px -289px;opacity: 1;}
.droppable-letter-4 {background-position: -256px -289px;opacity: 1;}
.droppable-letter-5 {background-position: -512px -289px;opacity: 1;}
.container-mecanica-dragdrop-1-0 .droppable-letter-0{background-position: 0px -33px;}
.container-mecanica-dragdrop-1-0 .droppable-letter-1{background-position: -256px -33px;}
.container-mecanica-dragdrop-1-0 .droppable-letter-2{background-position: 0px -289px;}
.container-mecanica-dragdrop-1-0 .droppable-letter-3{background-position: -256px -289px;}


.button-check-answers {
  width: 210px;
  height: 160px;
  overflow: hidden;
  background-image: url(img/torneiras.png);
  position: absolute;
  cursor: pointer;
  background-position-y: -52px;
}
.button-check-answers:active, .button-check-answers.button-pressed { 
  background-position-y: -308px;
}

.container-mecanica-dragdrop-1-0 .droppable-letter{background-image: url(img/1.png)}
.container-mecanica-dragdrop-1-0 #droppable-0{top: 368px; left: 0px;}
.container-mecanica-dragdrop-1-0 #droppable-1{top: 448px; left: 36px;}
.container-mecanica-dragdrop-1-0 #droppable-2{top: 608px; left: 337px;}
.container-mecanica-dragdrop-1-0 .button-check-answers{top: 674px;left: 540px;background-position-x: 0px;}

.container-mecanica-dragdrop-1-1 .droppable-letter{background-image: url(img/2.png)}
.container-mecanica-dragdrop-1-1 #droppable-0{top: 206px; left: 33px;}
.container-mecanica-dragdrop-1-1 #droppable-1{top: 286px; left: 26px;}
.container-mecanica-dragdrop-1-1 #droppable-2{top: 368px; left: 181px;}
.container-mecanica-dragdrop-1-1 #droppable-3{top: 448px; left: 603px;}
.container-mecanica-dragdrop-1-1 .button-check-answers{top: 592px; left: 540px;background-position-x: -256px;}

.container-mecanica-dragdrop-1-2 .droppable-letter{background-image: url(img/3.png)}
.container-mecanica-dragdrop-1-2 #droppable-0{top: 127px; left: 62px;}
.container-mecanica-dragdrop-1-2 #droppable-1{top: 288px; left: -14px;}
.container-mecanica-dragdrop-1-2 #droppable-2{top: 368px; left: 394px;}
.container-mecanica-dragdrop-1-2 #droppable-3{top: 448px; left: 482px;}
.container-mecanica-dragdrop-1-2 #droppable-4{top: 768px; left: 64px;}
.container-mecanica-dragdrop-1-2 .button-check-answers{top: 833px; left: 545px;background-position-x: -512px;}

.container-mecanica-dragdrop-1-3 .droppable-letter{background-image: url(img/4.png)}
.container-mecanica-dragdrop-1-3 #droppable-0{top: 125px; left: 39px;}
.container-mecanica-dragdrop-1-3 #droppable-1{top: 288px; left: 63px;}
.container-mecanica-dragdrop-1-3 #droppable-2{top: 368px; left: 502px;}
.container-mecanica-dragdrop-1-3 #droppable-3{top: 529px; left: 249px;}
.container-mecanica-dragdrop-1-3 #droppable-4{top: 608px; left: 680px;}
.container-mecanica-dragdrop-1-3 #droppable-5{top: 688px; left: 728px;}
.container-mecanica-dragdrop-1-3 .button-check-answers{top: 913px; left: 545px;background-position-x: -768px;}

.container-mecanica-dragdrop-1-4 .droppable-letter{background-image: url(img/5.png)}
.container-mecanica-dragdrop-1-4 #droppable-0{top: 126px; left: 760px;}
.container-mecanica-dragdrop-1-4 #droppable-2{top: 368px; left: 242px;}
.container-mecanica-dragdrop-1-4 #droppable-1{top: 287px; left: 15px;}
.container-mecanica-dragdrop-1-4 #droppable-3{top: 449px; left: 428px;}
.container-mecanica-dragdrop-1-4 #droppable-4{top: 528px; left: 752px;}
.container-mecanica-dragdrop-1-4 #droppable-5{top: 769px; left: 28px;}
.container-mecanica-dragdrop-1-4 .button-check-answers{top: 754px;left: 540px;background-position-x: -1024px;background-position-y: -30px;}
.container-mecanica-dragdrop-1-4 .button-check-answers:active,
.container-mecanica-dragdrop-1-4 .button-check-answers.menu-button-pressed{background-position-y: -286px;}

.container-mecanica-dragdrop-2-0 .droppable-letter{background-image: url(img/6.png)}
.container-mecanica-dragdrop-2-0 #droppable-0{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-0 #droppable-1{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-0 #droppable-2{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-0 #droppable-3{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-0 #droppable-4{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-0 #droppable-5{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-0 .button-check-answers{top: 700px;left: 546px;background-position-x: 0px;}

.container-mecanica-dragdrop-2-1 .droppable-letter{background-image: url(img/7.png)}
.container-mecanica-dragdrop-2-1 #droppable-0{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-1 #droppable-1{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-1 #droppable-2{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-1 #droppable-3{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-1 #droppable-4{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-1 #droppable-5{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-1 .button-check-answers{top: 700px;left: 546px;background-position-x: -256px;}

.container-mecanica-dragdrop-2-2 .droppable-letter{background-image: url(img/8.png)}
.container-mecanica-dragdrop-2-2 #droppable-0{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-2 #droppable-1{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-2 #droppable-2{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-2 #droppable-3{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-2 #droppable-4{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-2 #droppable-5{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-2 .button-check-answers{top: 700px;left: 546px;background-position-x: -512px;}

.container-mecanica-dragdrop-2-3 .droppable-letter{background-image: url(img/9.png)}
.container-mecanica-dragdrop-2-3 #droppable-0{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-3 #droppable-1{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-3 #droppable-2{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-3 #droppable-3{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-3 #droppable-4{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-3 #droppable-5{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-3 .button-check-answers{top: 700px;left: 546px;background-position-x: -768px;}

.container-mecanica-dragdrop-2-4 .droppable-letter{background-image: url(img/10.png)}
.container-mecanica-dragdrop-2-4 #droppable-0{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-4 #droppable-1{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-4 #droppable-2{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-4 #droppable-3{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-4 #droppable-4{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-4 #droppable-5{top: 0px; left: 0px;}
.container-mecanica-dragdrop-2-4 .button-check-answers{top: 700px;left: 546px;background-position-x: -1024px;}

.letter-underline {
  width: 300px;
  height: 64px;
  border-bottom: 3px solid #368fb2;
}
.droppable-letter.correct{}
.droppable-letter.correct .letter-underline {
  display: none;
}
.droppable-letter.wrong{}
/*phrase after*/
.phrase-after{
  width: 300px;
}
/*droppable END*/
/*************/

/*************/
/*MAIN GAME END*/
/*************/

.container-end{
  display: none;
  position: absolute;
  background-color: #fff;
  width: 1024px;
  height: 768px;
  overflow: hidden;
}