.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-0 {
    width: 154px;
    height: 148px;
    background-position: -5px -5px;
}

.sprite-1 {
    width: 154px;
    height: 148px;
    background-position: -169px -5px;
}

.sprite-2 {
    width: 154px;
    height: 148px;
    background-position: -5px -163px;
}

.sprite-3 {
    width: 154px;
    height: 148px;
    background-position: -169px -163px;
}

.sprite-4 {
    width: 154px;
    height: 148px;
    background-position: -5px -321px;
}

.sprite-5 {
    width: 154px;
    height: 148px;
    background-position: -169px -321px;
}

.sprite-6 {
    width: 154px;
    height: 148px;
    background-position: -333px -5px;
}

.sprite-7 {
    width: 154px;
    height: 148px;
    background-position: -333px -163px;
}

.sprite-8 {
    width: 154px;
    height: 148px;
    background-position: -333px -321px;
}


@keyframes walkingAnimation{
    0% {
        background-position: -5px -5px;
    }
    
    8% {
        background-position: -117px -5px;
    }
    
    16% {
        background-position: -5px -136px;
    }
    
    24% {
        background-position: -117px -136px;
    }
    
    32% {
        background-position: -229px -136px;
    }
    
    40% {
        background-position: -5px -267px;
    }
    
    48% {
        background-position: -117px -267px;
    }
    
    56% {
        background-position: -229px -267px;
    }
    
    64% {
        background-position: -341px -5px;
    }
    
    72% {
        background-position: -341px -136px;
    }
    87% {
        background-position: -229px -5px;
    }
    95%{
        background-position: -5px -5px;
    }
}

@keyframes idleAnimation{
    0% {
        background-position: -5px -5px;
    }
    
    12% {
        background-position: -95px -5px;
    }
    
    24% {
        background-position: -185px -5px;
    }
    
    36% {
        background-position: -5px -138px;
    }
    
    48% {
        background-position: -95px -138px;
    }
    
    60% {
        background-position: -185px -138px;
    }
    
    72% {
        background-position: -275px -5px;
    }
    
    84% {
        background-position: -275px -138px;
    }
    
    100% {
        background-position: -5px -271px;
    }
}

@keyframes walkingAnimationCat{
    0% {
        background-position: -5px -5px;
    }
    
    8% {
        background-position: -110px -5px;
    }
    
    16% {
        background-position: -320px -5px;
    }
    
    24% {
        background-position: -5px -169px;
    }
    
    32% {
        background-position: -110px -169px;
    }
    
    40% {
        background-position: -215px -169px;
    }
    
    48% {
        background-position: -320px -169px;
    }
    
    56% {
        background-position: -425px -5px;
    }
    
    64% {
        background-position: -425px -169px;
    }
    
    72% {
        background-position: -5px -333px;
    }
    87% {
        background-position: -215px -5px;
    }
    95%{
        background-position: -5px -5px;
    }
}
@keyframes idleAnimationCat{
    0% {
        background-position: -5px -5px;
    }
    
    12% {
        background-position: -103px -5px;
    }
    
    24% {
        background-position: -201px -5px;
    }
    
    36% {
        background-position: -5px -172px;
    }
    
    48% {
        background-position: -103px -172px;
    }
    
    60% {
        background-position: -201px -172px;
    }
    
    72% {
        background-position: -299px -5px;
    }
    
    84% {
        background-position: -299px -172px;
    }
    
    100% {
        background-position: -5px -339px;
    }
}
@keyframes sleepAnimationCat{
    0% {
        background-position: -5px -5px;
    }
    
    12% {
        background-position: -169px -5px;
    }
    
    24% {
        background-position: -5px -163px;
    }
    
    36% {
        background-position: -169px -163px;
    }
    
    48% {
        background-position: -5px -321px;
    }
    
    60% {
        background-position: -169px -321px;
    }
    
    72% {
        background-position: -333px -5px;
    }
    
    84% {
        background-position: -333px -163px;
    }
    
    100% {
        background-position: -333px -321px;
    }
}

@keyframes idleAnimationBoy{
    0% {
        background-position: -5px -5px;
    }
    
    12% {
        background-position: -163px -5px;
    }
    
    24% {
        background-position: -5px -139px;
    }
    
    36% {
        background-position: -163px -139px;
    }
    
    48% {
        background-position: -5px -273px;
    }
    
    60% {
        background-position: -163px -273px;
    }
    
    72% {
        background-position: -321px -5px;
    }
    
    84% {
        background-position: -321px -139px;
    }
    
    100% {
        background-position: -321px -273px;
    }
}

.player{
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    height: 121px;
    overflow: hidden;
    z-index: 201;
    background-image: url(anim/right.png);
    animation: idleAnimation 0.8s step-end infinite alternate;
}
.player.right{
    background-image: url(anim/idleright.png);
}
.player.left{
    background-image: url(anim/idleleft.png);
}
.player.right.walking{
    background-image: url(anim/rightwalk.png);
}
.player.left.walking{
    background-image: url(anim/leftwalk.png);
}
.player.walking{
    animation: walkingAnimation 0.6s step-end infinite;
}


.cat{
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    width: 88px;
    height: 157px;
    overflow: hidden;
    z-index: 201;
    background-image: url(anim/catleft.png);
    animation: idleAnimationCat 0.8s step-end infinite alternate;
}
.cat.right{
    background-image: url(anim/catidleright.png);
}
.cat.left{
    background-image: url(anim/catidleleft.png);
}
.cat.right.sleeping{
    background-image: url(anim/catrightsleep.png);
}
.cat.left.sleeping{
    background-image: url(anim/catleftsleep.png);
}
.cat.right.walking{
    background-image: url(anim/catrightwalk.png);
}
.cat.left.walking{
    background-image: url(anim/catleftwalk.png);
}
.cat.walking{
    animation: walkingAnimationCat 0.6s step-end infinite;
}
.cat.sleeping{
    width: 154px;
    height: 148px;
    animation: sleepAnimationCat 0.8s step-end infinite alternate;
    transform: translate(-33px, 10px);
}

.boy{
    position: absolute;
    top: 234px;
    right: 272px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    z-index: 205;
  
    width: 148px;
    height: 124px;
    background-image: url(anim/boyidle.png);
    animation: idleAnimationBoy 0.8s step-end infinite alternate;
}