/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/web/20160514051556im_/http://greg.botch.com/bones/tablesorter/themes/blue/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/web/20160514051556im_/http://greg.botch.com/bones/tablesorter/themes/blue/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/web/20160514051556im_/http://greg.botch.com/bones/tablesorter/themes/blue/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/*
     FILE ARCHIVED ON 05:15:56 May 14, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:12:55 Feb 27, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 108.321 (3)
  esindex: 0.007
  captures_list: 120.25
  CDXLines.iter: 8.309 (3)
  PetaboxLoader3.datanode: 208.41 (4)
  exclusion.robots: 0.139
  exclusion.robots.policy: 0.13
  RedisCDXSource: 1.564
  PetaboxLoader3.resolve: 23.984
  load_resource: 125.246
*/