/**********************/
/****FADE IN AND OUT***/
/**********************/
@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    display:none;
  }

  to {
    opacity: 1;
    display: none;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    display: flex;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    
  }
}

@keyframes fadeOutAnimationWrongSquare {
  from {
    opacity: 1;
    display: block;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

.fade-in {
  animation-duration: 2s;
  animation-name: fadeInAnimation;
  animation-fill-mode: forwards;
}

.fade-out {
  animation-duration: 2s;
  animation-name: fadeOutAnimation;
  animation-fill-mode: forwards;
}


/**********************/
/****GROW AND SHRINK***/
/**********************/
@keyframes growAndShrink {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes grow {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.5);
  }
}

@keyframes shrink {
  from {
      transform: scale(1.5);
  }
  to {
      transform: scale(1);
  }
}

.grow-and-shrink {
  animation: 1s growAndShrink forwards;
}