html{
  height: auto!important;
}

body {
  margin: 0;
  background-color: #FBAA1E;
}
/*reset button*/
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button:focus {
  outline: none;
}

*::selection {
  background-color: transparent;
}

/*Congenial*/
@font-face {
  font-family: "Congenial";
  src: url(Congenial_Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Congenial";
  src: url(Congenial_Regular_Italic.otf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Congenial";
  src: url(Congenial_Bold.otf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Congenial";
  src: url(Congenial_Bold_Italic.otf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: "Congenial";
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}


/*************/
/*PAGE CHANGE CSS*/
/*************/
.page {
  display: none;
}

.page--show {
  display: block;
}


/*************/
/*Container geral BG*/
/*************/
.container-geral {
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/*************/
/*MENU START*/
/*************/
.bg-transparency {
  /*
  position: absolute;
  width: 1024px;
  height: 768px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  */
}

.bg-blur {
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  backdrop-filter: blur(7px);
  background-color: #ffffff20;
}

.hidden {
  display: none;
}

/*SPLASHSCREEN*/
.splash-screen {
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  z-index: 200;
}

.text {
  font-weight: normal;
  font-style: normal;
}

.italic {
  font-weight: normal;
  font-style: italic;
}

.bold {
  font-weight: bold;
  font-style: normal;
}

.italic .bold {
  font-weight: bold;
  font-style: italic;
}

.bold .italic {
  font-weight: bold;
  font-style: italic;
}

/*MENU*/
.container-menu {
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  background-image:url(img/1-capa.png);
}


/*************/
/*BUTTONS START*/
/*************/
.menu-button {
  width: 128px;
  height: 128px;
  background-image: url(img/btn.png);
  cursor: pointer;
  position: absolute;
  
}
.menu-button:disabled{
  cursor: auto;
  opacity: .6;
}

.splash-button-comecar {
  position: absolute;
  width: 1024px;
  height: 768px;
  font-size: 30px;
  color: #FEFAE5;
  font-weight: bold;
  cursor: pointer;
}

.splash-button-comecar p {
  margin-top: 74px;
  margin-left: 368px;
}

.menu-button-sound {
  top: 18px;
  left: 21px;
  z-index: 100;
  background-position: -128px 0px;
}
.menu-button-sound:active{
  background-position: -128px 0px;
}

.menu-button-sound-off {
  background-position: -128px -128px;
}
.menu-button-sound-off:active{
  background-position: -128px -128px;
}

.menu-button-comecar {
  bottom: 25px;
  right: 22px;
  background-position: 0px 0px;
}
.menu-button-comecar:active{
  background-position: 0px -128px;
}

#menu-button-jogo {
  cursor: pointer;
}

#menu-button-jogo:disabled {
  cursor: default;
  filter: grayscale(1);
  opacity: 0.5;
}

.end-button-voltar{
  top: 18px;
  right: 21px;
  background-position: -384px 0px;
}

.end-button-voltar:active{
  background-position: -384px -128px;
}

/*************/
/*BUTTONS END*/
/*************/

.container-rules{
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

.container-rules-text{
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  background-image: url(img/regras.png);
}

/*SELECT*/
.container-select-char {
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  background-image: url(img/1-capa.png);
}

.container-select-char--blur {
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  backdrop-filter: blur(35px);
}

.container-select-char--opacity {
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  background-color: #fff;
  opacity: 0.2;
}

.select-char-text{
  position: absolute;
  top: 18px;
  left: 270px;
  font-size: 40px;
  font-weight: bold;
}

.select-spoon {
  position: absolute;
  width: 154px;
  height: 256px;
  overflow: hidden;
  background-image: url(img/char1.png);
  cursor: pointer;
  filter: grayscale(1);
  opacity: 0.5;
}

.select-spoon.selected {
  filter: grayscale(0);
  opacity: 1;
}

#select-spoon-0 {
  left: 170px;
  top: 136px;
  background-position: -46px 0px;
}

#select-spoon-1 {
  left: 353px;
  top: 136px;
  background-position: -302px 0px;
}

#select-spoon-2 {
  left: 533px;
  top: 136px;
  background-image: url(img/char2.png);
  background-position: -46px 0px;
}

#select-spoon-3 {
  left: 717px;
  top: 136px;
  background-image: url(img/char2.png);
  background-position: -302px 0px;
}

#select-spoon-4 {
  left: 170px;
  top: 392px;
  background-position: -46px -272px;
  height: 246px;
}

#select-spoon-5 {
  left: 353px;
  top: 392px;
  background-position: -302px -272px;
}

#select-spoon-6 {
  left: 533px;
  top: 392px;
  background-image: url(img/char2.png);
  background-position: -46px -272px;
}

#select-spoon-7 {
  left: 717px;
  top: 392px;
  background-image: url(img/char2.png);
  background-position: -302px -272px;
}



/*************/
/*JOGO START*/
/*************/
.container-jogo{
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

.black-white{
  filter: grayscale(1);
}

.half-transparency{
  opacity: 0.5;
}

#board{
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  background-image: url(img/4-tabuleiro.png);
}

.player-spoon{
  position: absolute;
  width: 128px;
  height: 128px;
  overflow: hidden;
  background-size: 256px;
  background-image: url(img/char1.png);
}

.same-square{
  transform: scale(0.9)!important;
}

#player-spoon-0.same-square{
  margin-left: -50px;
  z-index: 1;
}
#player-spoon-1.same-square{
  margin-left: 50px;
  z-index:1;
}
#player-spoon-2.same-square{
  margin-top: -35px;
}
#player-spoon-3.same-square{
  margin-top: 35px;
  z-index: 2;
}



.spoon-skin-0{
  background-position: 0px 0px;
}
.spoon-skin-1{
  background-position: -128px 0px;
}
.spoon-skin-2{
  background-image: url(img/char2.png);
  background-position: 0px 0px;
}
.spoon-skin-3{
  background-image: url(img/char2.png);
  background-position: -128px 0px;
}
.spoon-skin-4{
  background-position: 0px -128px;
}
.spoon-skin-5{
  background-position: -128px -128px;
}
.spoon-skin-6{
  background-image: url(img/char2.png);
  background-position: 0px -128px;
}
.spoon-skin-7{
  background-image: url(img/char2.png);
  background-position: -128px -128px;
}

.d6-area{
  position: absolute;
  top: 426px;
  left: 724px;
  width: 160px;
  height: 180px;
  cursor: pointer;
  overflow: hidden;
}
.d6-text{
  font-size: 30px;
  color: #FEFAE5;
}
.d6{
  position: absolute;
  top: 70px;
  left: 20px;
  width: 115px;
  height: 115px;
  background-size: 460px;
  background-image: url(img/d6.png);
}

.d6-1{
  background-position: 0 0;
}

.d6-2{
  background-position: -115px 0;
}

.d6-3{
  background-position: -230px 0;
}

.d6-4{
  background-position: 0 -115px;
}

.d6-5{
  background-position: -115px -115px;
}

.d6-6{
  background-position: -230px -115px;
}

.ingrediente{
  position: absolute;
  width: 128px;
  height: 128px;
  background-image: url(img/square-stuff.png);
}
.ingrediente-tipo-0{
  background-position: 0px 0px;
}
.ingrediente-tipo-1{
  background-position: -128px 0px;
}
.ingrediente-tipo-2{
  background-position: -256px 0px;
}
.ingrediente-tipo-3{
  background-position: -384px 0px;
}
.ingrediente-tipo-4{
  background-position: 0px -128px;
}
.ingrediente-tipo-5{
  background-position: -128px -128px;
}
.ingrediente-tipo-6{
  background-position: -256px -128px;
}
.ingrediente-tipo-7{
  background-position: -384px -128px;
}
.ingrediente-tipo-8{
  background-position: 0px -256px;
}
.ingrediente-tipo-9{
  background-position: -128px -256px;
}

#ingrediente-2{
  left: 18px;
  top: 312px;
}
#ingrediente-4{
  left: 176px;
  top: 268px;
}
#ingrediente-7{
  left: 324px;
  top: 362px;
}
#ingrediente-12{
  left: 34px;
  top: 572px;
}
#ingrediente-14{
  left: 230px;
  top: 614px;
}
#ingrediente-18{
  left: 460px;
  top: 376px;
}
#ingrediente-20{
  left: 620px;
  top: 274px;
}
#ingrediente-24{
  left: 710px;
  top: 620px;
}
#ingrediente-29{
  left: 776px;
  top: 242px;
}
#ingrediente-32{
  left: 814px;
  top: 32px;
}


.lixo{
  position: absolute;
  width: 128px;
  height: 128px;
  background-image: url(img/square-stuff.png);
}
.lixo-tipo-0{
  background-position: -384px -256px;
}
.lixo-tipo-1{
  background-position: 0px -384px;
}
.lixo-tipo-2{
  background-position: -128px -384px;
}
.lixo-tipo-3{
  background-position: -256px -384px;
}
.lixo-tipo-4{
  background-position: -384px -384px;
}

#lixo-9{
  left: 218px;
  top: 462px;
}
#lixo-16{
  left: 400px;
  top: 556px;
}
#lixo-22{
  left: 600px;
  top: 460px;
}
#lixo-27{
  left: 880px;
  top: 400px;
}
#lixo-34{
  left: 604px;
  top: 82px;
}

.regras-text{
  position: absolute;
  left: 482px;
  top: 710px;
  font-size: 30px;
  color: #FEFAE5;
  text-decoration: underline;
  cursor: pointer
}

.regras-container{
  position:absolute;
  width: 1024px;
  height: 768px;
  z-index: 20;
  background-image: url(img/regras.png);
}

/*************/
/*JOGO END*/
/*************/


/*****************/
/*PERGUNTAS START*/
/*****************/

/*
question-0
answer-a-question-0
answer-b-question-0
answer-c-question-0
dica-btn-0
dica-0
*/
.question{
  display: none;
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  font-size: 30px;
  letter-spacing: 1.5px;
  backdrop-filter: blur(35px);
  background-color: #ffffff20;
}

.question--white{
  background-color: #fff;
  opacity: 0.2;
}

.text-question{
  display: block;
  width: 800px;
  height: 200px;
  margin-top: 60px;
  margin-left: 190px;
  line-height: 50px;
}

.answer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 218px;
  cursor: pointer;
}

.answer-a{
  margin-top: 34px;
  height: 110px;
}

.answer-b{
  margin-top: 40px;
  height: 110px;
}

.answer-c{
  margin-top: 40px;
  height: 110px;
}

.answer-letter-container{
  position: absolute;
  width: 128px;
  height: 128px;
  overflow: hidden;
  background-image: url(img/d6.png);
  background-position: -384px 0;

}

.answer:active .answer-letter-container{
  background-position: -384px -128px;
}

.answer.wrong .answer-letter-container{
  background-position: -384px -256px;
}

.answer.correct .answer-letter-container{
  background-position: -384px -384px;
}



.answer-letter{
  background-image: url(img/d6.png);
  width: 128px;
  height: 128px;
}

.answer-a-letter{
  background-position: 1px -261px;
}

.answer-b-letter{
  background-position: -127px -259px;
}

.answer-c-letter{
  background-position: -256px -259px;
}

.text-answer{
  width: 500px;
  display: block;
  margin-left: 164px;
}

.dica-btn{
  width: 128px;
  height: 128px;
  background-image: url(img/btn.png);
  cursor: pointer;
  position: absolute;
  background-position: -256px 0;
  top: 622px;
  left: 21px;
}

.dica{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(35px);
  background-color: #ffffff20;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.text-dica{
  width: 780px;
  margin-left: 190px;
}

.dica-btn-voltar{
  width: 128px;
  height: 128px;
  background-image: url(img/btn.png);
  cursor: pointer;
  position: absolute;
  background-position: -256px -128px;
  top: 622px;
  left: 21px;
}

.regras-btn-voltar{
  width: 128px;
  height: 128px;
  background-image: url(img/btn.png);
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  right: 22px;
  background-position: 0px 0px;
}

.regras-btn-voltar:active{
  background-position: 0px -128px;
}

/*************/
/*PERGUNTAS END*/
/*************/

.container-end{
  position: absolute;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  background-image: url(img/6-vitoria.png);
}

.link-end{
  display: block;
  margin-top: 52px;
  margin-left: 308px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  color: #FEFAE5;
}

.big-spoon{
  position: absolute;
  width: 320px;
  height: 320px;
  overflow: hidden;
  background-size: 640px;
  background-image: url(img/char1.png);
  top: 100px;
  left: 352px;
}

.big-spoon-0{
  background-position: 0px 0px;
}
.big-spoon-1{
  background-position: -320px 0px;
}
.big-spoon-2{
  background-image: url(img/char2.png);
  background-position: 0px 0px;
}
.big-spoon-3{
  background-image: url(img/char2.png);
  background-position: -320px 0px;
}
.big-spoon-4{
  background-position: 0px -320px;
}
.big-spoon-5{
  background-position: -320px -320px;
}
.big-spoon-6{
  background-image: url(img/char2.png);
  background-position: 0px -320px;
}
.big-spoon-7{
  background-image: url(img/char2.png);
  background-position: -320px -320px;
}