
@keyframes walkingAnimation{
    0%{
        background-position: -5px 12px;
        background-repeat: no-repeat;
    }
    16%{
        background-position: -65px 12px;
        background-repeat: no-repeat;
    }
    32%{
        background-position: -125px 12px;
        background-repeat: no-repeat;
    }
    48%{
        background-position: -185px 12px;
        background-repeat: no-repeat;
    }
    64%{
        background-position: -5px -98px;
        background-repeat: no-repeat;
    }
    80%{
        background-position: -65px -98px;
        background-repeat: no-repeat;
    }
    100%{
        background-position: -65px -98px;
        background-repeat: no-repeat;
    }
}

.rato{
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 116px;
    overflow: hidden;
    background-position: -5px 12px;
    z-index: 201;
}
.rato.up.right{
    background-image: url(anim/backright.png);
}
.rato.down.right{
    background-image: url(anim/frontright.png);
}
.rato.down.left{
    background-image: url(anim/frontleft.png);
}
.rato.up.left{
    background-image: url(anim/backleft.png);
}

.rato.walking{
    animation: walkingAnimation 0.6s step-end infinite;
}


.cat{
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 116px;
    overflow: hidden;
    background-position: -5px 12px;
    z-index: 204;
}
.cat.up.right{
    background-image: url(anim/noobbackright.png);
}
.cat.down.right{
    background-image: url(anim/noobfrontright.png);
}
.cat.down.left{
    background-image: url(anim/noobfrontleft.png);
}
.cat.up.left{
    background-image: url(anim/noobbackleft.png);
}
.cat.walking{
    animation: walkingAnimation 0.6s step-end infinite;
}

.score-number{
    font-family: "Colporteur Fat Regular";
    font-size: 24px;
    text-align: center;
}
