
@keyframes walkingAnimation{
    0%{
        background-position: -32px 35px;
        background-repeat: no-repeat;
    }
    25%{
        background-position: -170px 35px;
        background-repeat: no-repeat;
    }
    50%{
        background-position: -32px -103px;
        background-repeat: no-repeat;
    }
    75%{
        background-position: -170px -103px;
        background-repeat: no-repeat;
    }
    100%{
        background-position: -32px 35px;
        background-repeat: no-repeat;
    }
}

.rato{
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    /*width: 50px;*/
    width: 75px;
    height: 126px;
    overflow: hidden;
    /*background-position: -5px 12px;*/
    z-index: 201;
    background-image: url(img/things.png);
    background-position: -285px 20px;
}
.rato.up.right{
    /*background-image: url(anim/backright.png);*/
}
.rato.down.right{
    /*background-image: url(anim/frontright.png);*/
}
.rato.down.left{
    /*background-image: url(anim/frontleft.png);*/
}
.rato.up.left{
    /*background-image: url(anim/backleft.png);*/
}

.rato.walking{
    /*animation: walkingAnimation 0.6s step-end infinite;*/
}


.cat{
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    /*width: 50px;*/
    width: 75px;
    height: 146px;
    overflow: hidden;
    background-position: -27px 40px;
    z-index: 204;
    background-image: url(anim/catleft.png);
}
.cat.right{
    background-image: url(anim/catright.png);
}
.cat.left{
    background-image: url(anim/catleft.png);
}
.cat.right.walking{
    background-image: url(anim/catrightwalk.png);
}
.cat.left.walking{
    background-image: url(anim/catleftwalk.png);
}
.cat.walking{
    animation: walkingAnimation 0.6s step-end infinite;
}

.score-number{
    font-family: "Colporteur Fat Regular";
    font-size: 48px;
    text-align: center;
}

.score-rato{
    color:#ffd1c8;
}
.score-cat{
    color: #fff;
}


@keyframes minigameIcon{
    0%{
        background-position: -5px -5px;
    }
    10%{
        background-position: -281px -5px;
    }
    20%{
        background-position: -5px -143px;
    }
    30%{
        background-position: -143px -143px;
    }
    40%{
        background-position: -281px -143px;
    }
    50%{
        background-position: -5px -281px;
    }
    60%{
        background-position: -143px -281px;
    }
    70%{
        background-position: -281px -281px;
    }
    80%{
        background-position: -419px -5px;
    }
    90%{
        background-position: -143px -5px;
    }
    100%{
        background-position: -5px -5px;
    }
}

.minigame-icon {
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    display: block;
    animation: minigameIcon 1s step-end infinite;
}

.minigame-icon.analog{
    background-image: url(anim/analog.png);
}
.minigame-icon.digital{
    background-image: url(anim/digital.png);
}
.minigame-icon.name{
    background-image: url(anim/name.png);
}
.minigame-icon.number{
    background-image: url(anim/number.png);
}


@keyframes minigameRandom{
    0%{
        background-position: -5px -5px;
    }
    14%{
        background-position: -143px -5px;
    }
    28%{
        background-position: -5px -143px;
    }
    42%{
        background-position: -143px -143px;
    }
    56%{
        background-position: -281px -5px;
    }
    70%{
        background-position: -281px -143px;
    }
    84%{
        background-position: -5px -281px;
    }
    98%{
        background-position: -143px -281px;
    }
    100%{
        background-position: -143px -281px;
    }
}
.minigame-icon.minigame-random {
    background-image: url(anim/random.png);
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 128px;
    animation: minigameRandom 1s step-end infinite;
}

.sprite-Empate1 {
    
    background-position: -5px -5px;
}

.sprite-Empate2 {
    width: 128px;
    height: 128px;
    background-position: -143px -5px;
}

.sprite-Empate3 {
    width: 128px;
    height: 128px;
    background-position: -5px -143px;
}

.sprite-Empate4 {
    width: 128px;
    height: 128px;
    background-position: -143px -143px;
}

.sprite-Empate5 {
    width: 128px;
    height: 128px;
    background-position: -281px -5px;
}

.sprite-Empate6 {
    width: 128px;
    height: 128px;
    background-position: -281px -143px;
}

.sprite-Empate7 {
    width: 128px;
    height: 128px;
    background-position: -5px -281px;
}

.sprite-Empate8 {
    width: 128px;
    height: 128px;
    background-position: -143px -281px;
}
