.page {
    display: none;
}

.page--show {
    display: block;
}

.btn-red{
    width: 200px;
    height: 50px;
    color: white;
    background-color: crimson;
}

.green {
    background-color: green;
}

.main {
    display: flex;
    width: 1024px;
    height: 768px;
    overflow: hidden;
    position: relative;
    background-color: yellow;
}