.hidden {
    display: none;
}

.page-break { break-after: page; }

.container {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial;
}

.ally {
    display: flex;
    flex-wrap: wrap;
    z-index: auto;
    align-content: flex-start;
    box-sizing: border-box;
}
.ally.closed {
    z-index: 60;
}

.enemies {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.transparent-bg {
    position: absolute;
    display: block;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .7;
}

.transparent-bg.closed {
    display: none;
}

.card {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 23%;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 1%;
    background-color: white;
    border: 2px solid blue;
    align-self: flex-start;
    z-index: 200;
}
.card.closed.ui-draggable-dragging {
    z-index: 20;
}
.card.closed {
    position: relative;
    width: 23%;
    z-index: 0;
}
.enemies .card {
    border: 2px solid red;
}
.card.closed .card__content {
}

.card.ui-draggable-dragging .card__content {
}

.card__name {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.card__image {
    margin-bottom: 5px;
}

.card__open {
    display: flex;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    z-index: 50;
    display: none;
}
.card__open::after {
    content: "X";
}
.card.closed .card__open::after {
    content: "V";
}

.card__image {
    width: 100%;
}

.card__abilities {
    list-style: circle;
}

.card__ability {
    list-style: disc outside none;
    display: list-item;
    padding-bottom: 3px;
    border-bottom: 1px solid blue;
    margin-left: 15px;
    margin-bottom: 3px;
    font-size: 12px;
}

.enemies .card__ability {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}